[Unit]
Description=Alesya 2024 Happy New Year
After=network.target

[Service]
User=denis
WorkingDirectory=/home/denis/alesya2024
ExecStart=nvm run node build
Environment="PORT=2024"

[Install]
WantedBy=multi-user.target
